.HL_STR {color: Orange;}

.HL_NUM {color: Violet;}

.HL_MAC {color: DodgerBlue;}

.HL_CLASS {color: MediumSeaGreen;}

.HL_FUN {color: SlateBlue;}

.HL_MAC {color: CornflowerBlue}

.HL_KW {color: Cyan;}

.HL_COMMENT {color: green;}

.HL_OPC {color: Blue;}

.HL_VAR {color: Chartreuse;}
